<% if @answer.errors.any? %> 
  <% @answer.errors.full_messages.each do |message| %>
    $('#flashes').html("<div class='alert alert-warning'><%= j message %></div>");
  <% end %>
<% else %>
  <% if @answer.persisted? %>
    $('#flashes').html("<div class='alert alert-success'>You answer was successfully created.</div>");
    $('.answers').append('<%= j render @answer %>');
    $('#answer_body').val('');
  <% end %>
<% end %>